
<h6>Total de notificaciones leidas : {{total}}</h6>
<button (click)="eliminarNotificaciones()" class="btn btn-primary">Eliminar</button>

<table class="table">
    <tr *ngFor="let item of lista">
        <td class="cell" *ngIf="getEstado(item.estado) === true" style="font-size: 10pt;">
            <div class="col-12">
                <div class="row">
                    <div class="col-2">
                        <input type="checkbox" (click)="recopilarNotificaciones(item.usuNotId)" />
                    </div>
                    <div class="col-5">
                        {{item.notificacion.descripcion}}
                    </div>
                    <div class="col-5">
                        {{item.fecha}}
                    </div>
                </div>
            </div>


        </td>
    </tr>
</table>