<div class="form-group margin-auto">
    <h1 style="color: #0036a3;">Actualizar Datos</h1>
    <div class="row">
        <div class="col-md-6">
            <label>Nombres</label>
            <input [(ngModel)]='newnombres' name="newnombres" id="txtNombres" class="form-control" />
        </div>
        <div class="col-md-6">
            <label>Apellidos</label>
            <input [(ngModel)]='newapellidos' name="newapellidos" id="txtApellidos" class="form-control" />
        </div>
        <div class="col-md-12">
            <label>Correo</label>
            <input [(ngModel)]='newemail' name="newemail" id="txtEmail" class="form-control" />
        </div>
        <div class="col-md-12 contenedor-btnActualizar" style="margin-top: 5%;">
            <button id="btnActualizar" class="btn btn-primary">Actualizar</button>
        </div>
    </div>
</div>