.row{
    margin:auto;
    width: 80%;
}

.col-md-6{
    width: 100%;
}

.col-md-12{
    width: 100%;
}
h1{
    margin-top: 5%;
    text-align: center;
    width: 100%;
    margin-bottom: 5%;
}

#btnActualizar{
    width: 100%;
    margin-bottom: 5%;
    background-color: orange;
    border: 0px;
    border-radius: 11px;
}

#btnActualizar:hover{
    box-shadow: 0px 3.00272px 25.0109px rgb(112 102 162 / 49%);
}

.contenedor-btnActualizar {
    padding-right: 20%;
    padding-left: 20%;
}

.form-group{
    border: 5px solid white;
    margin: 10%;
    margin-right: 10%;
    margin-left: 10%;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 3.00272px 41.0109px rgba(100, 56, 201, 0.25);

}