<div class="login">
  <form class="form-signin" method="POST">
    <div class="col-md-12">
      <div class="row">
        <div class="col-8 p-0">
          <img
            src="../../assets/img/login/BCP-login-fondo.png"
            alt=""
            width="100%"
            height="100%"
          />
        </div>
        <div class="col-4 alinea-form-login">
          <img src="../../assets/img/login/logo-blue.svg" class="pb-4">
          <h3 class="titulo-login">Banca por Internet</h3>
          <label for="inputEmail" class="text-blue-bcp">Número de cuenta</label>
          <input
            name="card"
            [(ngModel)]="card"
            class="form-control input-bcp"
            placeholder=""
            required="required"
          />
          <label for="inputPassword text-blue-bcp" class="text-blue-bcp"
            >Contraseña</label
          >
          <input
            name="clave"
            [(ngModel)]="clave"
            type="password"
            class="form-control input-bcp"
            placeholder=""
            required="required"
          />
          <br>
          <button
            (click)="login()"
            class="btn btn-lg btn-primary btn-block text-white bold button-submit-bcp"
            type="submit"
          >
            Ingresar <span class="text-white">&#8594;</span> 
          </button>
        </div>
      </div>
    </div>

    <!-- <img
      class="mb-4"
      src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg"
      alt=""
      width="72"
      height="72"
    />
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input
      name="card"
      [(ngModel)]="card"
      class="form-control"
      placeholder="Email address"
      required="required"
    />
    <label for="inputPassword" class="sr-only">Password</label>
    <input
      name="clave"
      [(ngModel)]="clave"
      type="password"
      class="form-control"
      placeholder="Password"
      required="required"
    />
    <br />
    <button
      (click)="login()"
      class="btn btn-lg btn-primary btn-block"
      type="submit"
    >
      Sign in
    </button>
    <p class="mt-5 mb-3 text-muted">© 2017-2018</p> -->
  </form>
</div>