.titulo-login{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: rgb(0, 45, 135);
}

.text-blue-bcp{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 45, 135);
    font-size: smaller;
    font-weight: 550;
}

.input-bcp {
    background: transparent;
    border: 0px;
    border-bottom: 1px solid blue !important;
    border-radius: 0px;
    width: 100%;
}

.input-bcp:focus{
    box-shadow: 0 0 0 0rem;
}

.button-submit-bcp{
    background-color: orange;
    border: 0px;
    border-radius: 23px;
    width: 100%;
}

.button-submit-bcp:hover{
    opacity: 0.8;
    box-shadow: 0 0 0 0rem;
}

.alinea-form-login {
    padding: 4% !important;
    padding-top: 10% !important;
}