#dashboard-notifications{
    background-color: white;
    position: absolute;
    box-sizing: content-box;
    float: none;
    content: '';
    float: right;
    z-index: 1;
    height: 100%;
    width: 20%;
    right: 0;
    opacity: 0;
    transition:all ease-in-out 250ms;
    border-radius: 21px 0px 0px 21px;
    box-shadow: 0px 13.00272px 56.0109px rgba(100, 56, 201, 0.25);
}

td{
    font-weight: bold;
}

@media screen and (max-width: 425px) and ( min-width: 320px){
    #dashboard-notifications{
        background-color: #e8e8e8;
        position: absolute;
        box-sizing: content-box;
        float: none;
        content: '';
        float: right;
        z-index: 1;
        height: 100%;
        width: 65%;
        right: 0;
        opacity: 0;
        transition:all ease-in-out 250ms;
    }
}

@media screen and (max-width: 768px) and ( min-width: 426px){
    #dashboard-notifications{
        background-color: #e8e8e8;
        position: absolute;
        box-sizing: content-box;
        float: none;
        content: '';
        float: right;
        z-index: 1;
        height: 100%;
        width: 45%;
        right: 0;
        opacity: 0;
        transition:all ease-in-out 250ms;
    }
}

@media screen and (max-width: 1000px) and ( min-width: 770px){
    #dashboard-notifications{
        background-color: #e8e8e8;
        position: absolute;
        box-sizing: content-box;
        float: none;
        content: '';
        float: right;
        z-index: 1;
        height: 100%;
        width: 30%;
        right: 0;
        opacity: 0;
        transition:all ease-in-out 250ms;
    }
}

.date-notify {
    color: #999999;
    font-size: 13px;
}

.descrip-notify {
    font-weight: 650;
}

.td-notify {
}

.td-notify:hover {
    background-color: #e0e0e0;
    padding-left: 0px;
}

.espacio-naranja {
    width: 100%;
    height: 100%;
    background-color: tomato;
}