<div id="dashboard-notifications" style="opacity: 0; visibility: hidden;">
    <table class="table">
        <tr *ngFor="let item of lista">
            <td *ngIf="getEstado(item.estado) !== true" style="font-size: 11pt;" class="w-100 td-notify">
                <div class="col-12 descrip-notify">
                    {{item.notificacion.descripcion}}
                </div>
                <div class="col-12">
                    <div  class="row">
                        <div class="col-6 date-notify">
                            {{item.fecha}}
                        </div>
                        <div class="col-6">
                            <a style="cursor: pointer;" *ngIf="getEstado(item.estado) !== true"(click)="marcarLeido(item.usuNotId)" class="float-right">
                                <i class="far fa-eye"></i>
                            </a>
                            <i *ngIf="item.estado === true;" class="fas fa-check-square"></i>
                        </div>
                    </div>

                </div>
            </td>
        </tr>
    </table>
</div>