/*

#container{
    width: 100%;
}

.navbar div i{
    margin: 10px;
    color: white;
    transition: all ease-in 300ms;
    cursor: pointer;
}

.navbar div i:hover{
    margin: 10px;
    color: gainsboro;
    transition: all ease-in 300ms;
}

#bar{
    cursor: pointer;
}

.navbar{
    background-color: #0036A3;
    width: 100%;
}

#body-container{
    display: flex;
    flex-direction: row;
}

h1,h2,h3,h4,h5{
    color: #0036A3;
}

#dashboard-menu{
    background-color: #0036A3;
    color: white;
    position: absolute;
    box-sizing: content-box;
    float: none;
    content: '';
    float: left;
    z-index: 1;
    height: 100%;
    width: 25%;
    opacity: 0;
    transition:all ease-in-out 250ms;
}

#dashboard-notifications{
    background-color: #e8e8e8;
    color: white;
    position: absolute;
    box-sizing: content-box;
    float: none;
    content: '';
    float: right;
    z-index: 1;
    height: 100%;
    width: 25%;
    right: 0;
    opacity: 0;
    transition:all ease-in-out 250ms;
}

#dashboard-body{
    padding: 10px;
    width: 100%;
    margin: auto;
}

.info-container{
    border-radius: 10px;
    border: 2px solid transparent;
    background-color: white;
    padding: 15px;
    margin: 15px;
    transition: all ease-in 300ms;
}

.info-container:hover{
    border-radius: 10px;
    border: 2px solid white;
    background-color: whitesmoke;
    padding: 15px;
    margin: 15px;
    transition: all ease-out 300ms;
}

.form-group{
    width: 100%;
}

@media screen and (max-width: 425px) and ( min-width: 320px){
    #dashboard-menu{
        background-color: #0036A3;
        color: white;
        position: absolute;
        box-sizing: content-box;
        float: none;
        content: '';
        float: left;
        z-index: 1;
        height: 100%;
        width: 65%;
        opacity: 0;
        transition:all ease-in-out 250ms;
    }

    #dashboard-notifications{
        background-color: #e8e8e8;
        color: white;
        position: absolute;
        box-sizing: content-box;
        float: none;
        content: '';
        float: right;
        z-index: 1;
        height: 100%;
        width: 65%;
        right: 0;
        opacity: 0;
        transition:all ease-in-out 250ms;
    }

    #logo{
        width: 125px;
    }
}

@media screen and (max-width: 768px) and ( min-width: 426px){
    #dashboard-menu{
        background-color: #0036A3;
        color: white;
        position: absolute;
        box-sizing: content-box;
        float: none;
        content: '';
        float: left;
        z-index: 1;
        height: 100%;
        width: 45%;
        opacity: 0;
        transition:all ease-in-out 250ms;
    }

    #dashboard-notifications{
        background-color: #e8e8e8;
        color: white;
        position: absolute;
        box-sizing: content-box;
        float: none;
        content: '';
        float: right;
        z-index: 1;
        height: 100%;
        width: 45%;
        right: 0;
        opacity: 0;
        transition:all ease-in-out 250ms;
    }
}
*/

#body-container{
    display: flex;
    flex-direction: row;
}

app-dashboard-body{
    width: 100%;
}
router-outlet{
    width: 0;
}