
<div id="container">
  <app-nav-bar></app-nav-bar>
  <div id="body-container">
      <app-side-menu></app-side-menu>
      <router-outlet hidden></router-outlet>
      <app-side-notify></app-side-notify>
  </div>
</div>


