<nav  class="navbar">
    <div id="r-icons" class="d-flex">
        <i id="bar" class="fas fa-bars" style="font-size: 25pt;"></i>
    </div>
    <div class="d-flex">
    <img id="logo" src="https://stbcpzonasegura.viabcp.com/assets/img/logo.svg"/>  
    </div> 
    <div id="l-icons" class="d-flex justify-content-end">
        <i id="bell" class="fas fa-bell" style="font-size: 20pt;"></i><div id="count">{{noLeidas}}</div>
        <a type="button" data-toggle="modal" data-target="#userModal"><i class="fas fa-user" style="font-size: 20pt;"></i></a>
    </div>
</nav>
<div id="userModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style=" border-color: darkblue; position: absolute; right: 1%; margin: 10px;">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"><i class="fas fa-user-circle"></i> Bienvenido {{datos}}</h5>
        </div>
        <div class="modal-body">
          <a class="link-profile" routerLink="/update"><i class="fas fa-id-card"></i><strong> - Datos Personales</strong></a>
          <br>
          <a class="link-profile" (click)="cerrarSesion()"><i class="fas fa-power-off"></i><strong> - Cerrar Sesión</strong></a>
        </div>
      </div>
    </div>
  </div>