.navbar div i{
    margin: 10px;
    color: white;
    transition: all ease-in 300ms;
    cursor: pointer;
}

.navbar div i:hover{
    margin: 10px;
    color: gainsboro;
    transition: all ease-in 300ms;
}

#bar{
    cursor: pointer;
}

#count{
    font-weight: bold;
    color: white;
    border: orange solid 1px;
    background-color: orange;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    height: 25px;
    width: 25px;
    text-align: center;
    margin: 0;
}

.navbar{
    background-color: #0036A3;
    width: 100%;
}

@media screen and (max-width: 425px) and ( min-width: 320px){
    #logo{
        width: 100px;
    }
}

.link-profile{
    margin: 10px;
    color: black;
    transition: all ease-in 300ms;
    text-decoration: none;
    cursor: pointer;
}

.link-profile:hover{
    margin: 10px;
    color: grey;
    transition: all ease-in 300ms;
    cursor: pointer;
    text-decoration: none;
}
