<div id="dashboard-body" class="row">
    <div class="form-group">
        <div class="info-container">
            <h3><i class="fas fa-wallet" style="color: #0036A3; font-size: 20pt;"></i> Cuentas</h3>
            <div class="row">
                <div class="col-md-8">
                    <h5>Ahorro Soles</h5>
                    <h6>{{tarjeta}}</h6>
                </div>
                <div class="col-md-4" style="text-align: right;">
                    <h5>S/ 1,000.00</h5>
                    <h6>Saldo disponible</h6>
                </div>
            </div>
            <br>
        </div>

        <div class="info-container">
            <h3><i class="fa fa-credit-card" style="color: #0036A3; font-size: 20pt;"></i> Ultimos Movimientos</h3>
            <ul>
                <li>S/ 100 - 25/07/2020 11:45 am</li>
                <li>S/ 200 - 21/07/2020 12:45 am</li>
                <li>S/ 300 - 19/07/2020 10:45 am</li>
                <li>S/ 400 - 17/07/2020 08:45 am</li>
            </ul>
        </div>
        <div class="info-container">
            <h3><i class="fa fa-star" style="color: #0036A3; font-size: 20pt;"></i> Historial de Notificaciones</h3>
            <div class="scroll">
                <app-historial-notify></app-historial-notify>
            </div>
        </div>
    </div>
</div>