h1,h2,h3,h4,h5{
    color: #0036A3;
}

#dashboard-body{
    padding: 10px;
    width: 100%;
    margin: auto;
}

.scroll{
    overflow: auto;
    height: 500px;
}

.info-container{
    border-radius: 10px;
    border: 2px solid transparent;
    background-color: white;
    padding: 15px;
    margin: 15px;
    transition: all ease-in 300ms;
}

.info-container:hover{
    border-radius: 10px;
    border: 2px solid white;
    background-color: whitesmoke;
    padding: 15px;
    margin: 15px;
    transition: all ease-out 300ms;
}

.form-group{
    width: 100%;
}



