<div id="dashboard-menu" style="opacity: 0; visibility: hidden;">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active"><a class="nav-link" routerLink="/dashboard" routerLinkActive="active">INICIO</a></li>
        <li class="nav-item active"><a class="nav-link" routerLink="/update" routerLinkActive="active">MIS DATOS</a></li>
        <!--<li class="nav-item active">MAS OPERACIONES</li>-->
    </ul>
</div>