#dashboard-menu{
    background-color: #0036A3;
    color: white;
    position: absolute;
    box-sizing: content-box;
    float: none;
    content: '';
    float: left;
    z-index: 1;
    height: 100%;
    width: 25%;
    opacity: 0;
    transition:all ease-in-out 250ms;
}
.nav-item{
    background-color: #0036A3;
    padding: 10px;
    font-size: 16pt;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.nav-item:hover{
    background-color: #1c4fb6;
    padding: 10px;
    font-size: 16pt;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.nav-link{
    color: white;
}
@media screen and (max-width: 425px) and ( min-width: 320px){
    #dashboard-menu{
        background-color: #0036A3;
        color: white;
        position: absolute;
        box-sizing: content-box;
        float: none;
        content: '';
        float: left;
        z-index: 1;
        height: 100%;
        width: 65%;
        opacity: 0;
        transition:all ease-in-out 250ms;
    }
}

@media screen and (max-width: 768px) and ( min-width: 426px){
    #dashboard-menu{
        background-color: #0036A3;
        color: white;
        position: absolute;
        box-sizing: content-box;
        float: none;
        content: '';
        float: left;
        z-index: 1;
        height: 100%;
        width: 45%;
        opacity: 0;
        transition:all ease-in-out 250ms;
    }
}


